<!-- i believe i accidentally everything for the polls outside of here, but just going to keep this file as a base landing page -->
<!-- also i assume you might see this page first, but i stuck with adding <!DOCTYPE html> since i just found it easier to structure -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the Voting App</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="main-content">
        <h1>Welcome to the Voting App</h1>
        <p>want to vote? either create an account or log back in and view any new polls!</p>
        <div class="button-container">
            <a href="/signup" class="action-button">Signup</a>
            <a href="/login" class="action-button">Login</a>
        </div>
    </div>
</body>
</html>
